/* General rules*/

:root {
  --background-color: #2f303a;
  --logo-color: #2196f3;
  --chapter-color: #212121;
  --description-color: #757575;
  --light-color: #fff;
  --btn-order-hov-color: #188ce8;
  --btn-order-shad-color: rgba(0, 0, 0, 0.15);
  --btn-filter-color: #f5f4fa;
  --team-color: #f5f4fa;
  --con-foot-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--chapter-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*Header*/

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.st-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.end-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
}
.nav {
  color: var(--chapter-color);
}
.contacts-header {
  color: var(--description-color);
}
.current,
.nav:hover,
.nav:focus,
.contacts-header:hover,
.contacts-header:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--logo-color);
}
.btn-order {
  cursor: pointer;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px var(--btn-order-shad-color);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
}
.btn-order:hover {
  background: var(--btn-order-hov-color);
  box-shadow: 0px 4px 4px var(--btn-order-shad-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
}

/*BODY*/

.hero-background {
  background: var(--background-color);
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}
.supremacy {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.supremacy-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.team-color {
  background: var(--team-color);
}
.chapter {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.specialty {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/*FOOTER*/
.footer {
  background: var(--background-color);
}
.end-logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
}
.contacts-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--con-foot-color);
}

/*PORTFOLIO*/
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.btn-filter {
  cursor: pointer;
  background: var(--btn-filter-color);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.btn-filter:active {
  background: var(--logo-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--light-color);
}
